//- include ./menu.pug
include ./socials.pug

mixin header
  header.header
    .container.header__wrap
      a(href="/").logo BA
      
      .header__socials
        +socials
    //-.header__nav
    //- +menu
    //- +burger