mixin section-skills
  section.section-skills#skills
    .container
      .section-skills__text-wrap
        h3.section-skills__title Чем я могу быть полезен вам
        .section-skills__text.text.text--light Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool. Чуть позже я освежу в нем контент. А пока посмотрите, как тут все классно и красиво!
      .section-skills__main
         #skills-component